.fts-form__group {
    position: relative;
}

.fts-input-label {
    left: 0;
    top: 10px;
    z-index: 10;
    margin: 0 !important;
}

.fts-input-field {
    position: relative;
    padding: 10px 0 0;
    width: 100%;
    outline: 0;
    background-color: transparent;
	box-sizing: border-box;
}